@model List<Skill>
<div class="col-six tab-full right">
    <h3>Programlama Dilleri & Teknolojiler</h3>

    <ul class="skill-bars">
        @foreach (var item in Model)
        {
            // Progress bar için dinamik sınıf oluşturma
            string progressBarClass = $"progress percent{item.Value}";

            <li>
                <div class="@progressBarClass"><span>@item.Value%</span></div>
                <strong>@item.Title</strong>
            </li>
        }
    </ul>
</div>