<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">        
        <ul class="nav">
            <li class="nav-item">
                <a href="/Dashboard/Index">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index">
                    <i class="la la-home"></i>
                    <p>Siteye Git</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/About/UpdateAbout">
                    <i class="la la-info-circle"></i>
                    <p>Hakkımda</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/ToDoList/Index">
                    <i class="la la-calendar-check-o"></i>
                    <p>Yapılacaklar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Experience/ExperienceList">
                    <i class="la la-mortar-board"></i>
                    <p>Deneyimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Feature/UpdateFeature">
                    <i class="la la-desktop"></i>
                    <p>Öne Çıkan Alan</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Contact/UpdateContact">
                    <i class="la la-whatsapp"></i>
                    <p>İletişim Bilgileri</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Portfolio/PortfolioList">
                    <i class="la la-certificate"></i>
                    <p>Portfolyo</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Skill/SkillList">
                    <i class="la la-sliders"></i>
                    <p>Yeteneklerim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Testimonial/TestimonialList">
                    <i class="la la-group"></i>
                    <p>Referanslarım</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/SocialMedia/SocialMediaList">
                    <i class="la la-link"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Inbox">
                    <i class="la la-envelope-o"></i>
                    <p>Gelen Kutusu</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Statistic/Index">
                    <i class="la la-bar-chart"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Login/LogOut">
                    <i class="la la-power-off"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>